/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
h1 {color: blue; padding: 20px 0px 0px 50px;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
  margin: 8px;
}
